<head>
  <title>architectural-firm</title>
</head>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="client">Clients</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="schedule">Schedule</a>
  </li>
  <li>
    <a class="nav-link" routerLink="client-registration">Register a client</a>
  </li>
</ul>

<router-outlet></router-outlet>


<!-- "test": "ng test" -->