<form >
    <fieldset>
      <legend class="title">Register Your Client</legend>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Full Name</label>
        <input type="text" id="full-name" class="form-control" placeholder="Full Name">
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">ID #</label>
        <input type="text" id="full-name" class="form-control" placeholder="123456">
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Project Type</label>
        <input type="text" id="full-name" class="form-control" placeholder="ex: Apartmenr, house, mall">
      </div>
      <div class="mb-3">
        <label for="disabledSelect" class="form-label">Status of the project</label>
        <select id="disabledSelect" class="form-select">
          <option>--Select--</option>
          <option>Negotiations</option>
          <option>Blueprints</option>
          <option>Building</option>
          <option>Finished</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Phone Number</label>
        <input type="text" id="full-name" class="form-control" placeholder="Phone Number">
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">State</label>
        <input type="text" id="full-name" class="form-control" placeholder="ex: Texas, New York, Kansas">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>